body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white; /* Ensure the text is visible on the black background */
}

.countContainer {
  background-color: rgb(76, 59, 207);
  outline: solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vw;
  height: 30vh;
  width: 90vw;
  max-width: 1700px;
  margin: 5vw;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

@media (max-width: 1200px) {
  .countContainer {
    font-size: 15vw;
    height: 40vh;
    width: 95vw;
  }
}

@media (max-width: 650px) {
  .countContainer {
    font-size: 20vw;
    height: 50vh;
    width: 95vw;
    margin: 5vh;
  }
}

@media (max-width: 650px) {
  .countContainer {
    font-size: 15vw;
    height: 50vh;
    width: 95vw;
    margin: 5vh;
  }
}
